/**
 * Simple css theme
 * Jason Grimston
 * 25/04/2016
 **/

body {
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    min-width: 100vw;
    overflow: auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(145deg, #7143ff, #ed178e, #191c28);
    background-size: 100% 100%;
    /*-webkit-animation: backgroundGradient 30s linear infinite;*/
    /*-moz-animation: backgroundGradient 30s linear infinite;*/
    /*animation: backgroundGradient 30s linear infinite;*/

    padding-top:85vh;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1
}

.full-height {
    min-height: 100vh
}

.full-width {
    min-width: 100vw;
}

.fill-width{
    width: 100%;
}

.horizontal-center {
    align-items: center;
}

.vertical-center {
    justify-content: center;
}

.flex-direction-col {
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}

.max-width-container{
    padding-left:15px;
    padding-right:15px;
    margin:0 auto;
    width:100%;
    max-width:768px;
}

/* Above the fold */
.above-the-fold-wrapper{
    position: fixed;
    top: 0;
    left:0;
    z-index: 0;
    min-height:85vh;
}
.above-the-fold {
    background: rgba(255,255,255,.9);
    border-radius: 50%;
    width:60vmin;
    height:60vmin;
    -webkit-box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
    -moz-box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
    box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
}

@-webkit-keyframes backgroundGradient {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    100% {
        background-position: 18% 0%;
    }
}

@-moz-keyframes backgroundGradient {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    100% {
        background-position: 18% 0%;
    }
}

@keyframes backgroundGradient {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    100% {
        background-position: 18% 0%;
    }
}

.logo-wrapper {
    text-align: center;
    padding: 25px;
}

.logo-wrapper svg {
    width: 25vmin;
    height: auto;
}

svg .left-eye {

}


/* Content */
.content-wrapper{
    background: #FFF;
    max-width: 80vw;
    padding: 30px;
    border-radius: 25px;
}

/* misc */

.text-wrapper {
    margin: 0px 20px;
}


/* Typography */
.fredoka-one {
    font-family: 'Fredoka One', cursive;
}
.lato{
    font-family: 'Lato', sans-serif;
}

.text-center {
    text-align: center;
}
p a{
    color:#FFFFFF;
    text-decoration: none;
    background:#7143FF;
    display:inline-block;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

p a:hover{
    background:#FFFFFF;
    color:#000000;
    transform: translateY(-2px) scale(1.01);

}

h1 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-bottom:20px
}

@media (min-width: 33.4995rem) {
    h1 {
        font-size: 1.5rem;
        margin-bottom:30px
    }
}

@media (min-width: 44.687rem) {
    h1 {
        font-size: 2rem;
        margin-bottom:40px
    }
}
.no-margin{
    margin: 0;
}
/* Form overrides */
.form-wrapper {
    margin: 20px 20px 45px;
    background: rgba(0, 0, 0, .1);
    padding: 30px 30px 45px;
    overflow: hidden;
    border-radius: 20px;
}

.simform ol:before {
    background: #7143FF;
    border-radius: 20px;
}

.simform label {
    font-size: 1rem;
}

@media (min-width: 33.4995rem) {
    .simform label {
        font-size: 1.3rem;
    }
}

@media (min-width: 44.687rem) {
    .simform label {
        font-size: 1.8rem;
    }
}

.questions li.current > span label, .no-js .questions li > span label {
    margin: 0 0 .4em;
}

.questions input {
    color: #FFFFFF;
}

.error-message.show {
    color: red;
}

.next {
    bottom: 3.15em
}

@media (min-width: 33.4995rem) {
    .next {
        bottom: 2.8em
    }
}
@media (min-width: 44.687rem) {
    .next {
        bottom: 2.65em
    }
}

.next.show {
    color: #FFFFFF;
    transform: translate3d(0, 1.9em, 0);
}

.simform .progress {
    background: #ED178E;
    margin: 20px 0;
}

.simform .number {
    font-size: 0.4em;
    margin: 0;
}

.final-message.show {
    text-align: left;
    padding: 0;
}

/* Arrow */
.arrow-down-svg {
    position: absolute;
    margin: auto;
    width:32px;
    left: 0;
    bottom: 0;
    right: 0;

    animation: pulseDown 1.5s alternate infinite cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

/* Animations */

@keyframes breath {
    from {
        transform: translate3d(0, 0%, 0);
    }

    to {
        transform: translate3d(0, -5%, 0);
    }
}

@keyframes flyIn {
    from {
        transform: scale(0) translate3d(-50vw,0,0);
    }
    to {
        transform: scale(1) translate3d(0,0,0) ;
    }
}


@keyframes raise {
    from {
        transform: translate3d(-50vw,0,0);
    }
    to {
        transform: translate3d(0,0,0) ;
    }
}

@keyframes pulseDown{
    0%{
        transform: translate3d(0,-5vh,0);
        opacity: 0;
    }
    100% {
        opacity:1;
        transform: translate3d(0,0,0) ;
    }
}

/* the logo animations */
.wdr_skull{
    animation: breath 1000ms alternate infinite;
    animation-timing-function: linear;
}



/* page2 */
.page2-wrapper{
    /*border:15px solid #7143FF;*/
    background: rgba(25,28,40,.9);
    z-index: 1;
    -webkit-box-shadow: 0 0 60px 20px rgba(2, 2, 2, .2);
    -moz-box-shadow: 0 0 60px 20px rgba(2, 2, 2, .2);
    box-shadow: 0 0 60px 20px rgba(2, 2, 2, .2);
    color:#FFF;
    padding-top:20px;
    padding-bottom:60px;
}
.page2-section{
    margin-top: 15px;
    margin-bottom: 100px;
}

/* projects */
.project-section{
    margin: 15px;
}
.project-section-title{
    margin-top:20px;
    text-shadow: 2px 3px 3px rgba(0,0,0,.15)
}
.project-wrapper{
    padding: 15px;
    min-width:100%;
}
@media (min-width: 768px){
    .project-wrapper {
        min-width: 50%;
    }
}
.project-img{
    max-width:100%;
    width:100%;
    height:auto;
    border-radius:26px;
    -webkit-box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
    -moz-box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
    box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
}

.project-link{
    cursor: pointer;
    position: relative;
    display: block;
}
.project-img{
    transition: all 300ms ease-in;
    display: block;
}
.project-link:hover img{
    /*opacity:.4;*/
}

.hover-text-wrapper {
    color: #FFF;
    text-decoration: none;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .15);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 26px;

    position: absolute;
    top: 0;
    padding: 30px;
    height: 100%;
    width: 100%;
    opacity:0;
    transition:all 300ms ease-out;
}

.hover-text{
    transition:all 300ms ease-out;
    transform:translateY(50px);
    opacity: 0;
    pointer-events: none;
}
.project-link:hover .hover-text{
    transform:translateY(0);
    opacity:1;
}
.project-link:hover .hover-text-wrapper{
    opacity:1;
}

/* Forms */

input, textarea{
    background:#FFFFFF;
    border:2px solid #333333;
    border-radius: 20px;
    line-height:2em;
    outline:none;
    padding: 5px 20px;
    width:auto;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid black;
    resize: none;

    color:#333333
}
.input-wrapper{
    padding:0 7px 15px 8px;
}

.btn{
    background:#7143FF;
    border-radius:20px;
    padding: 10px 15px;
    color:#FFF;
    min-width: 200px;
    border:none;
    outline:none;
}
.btn:hover{
    background: rgba(116, 58, 255, 0.80);
    -webkit-box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
    -moz-box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
    box-shadow: 0 0 10px 0px rgba(2, 2, 2, .2);
}
button{
    cursor: pointer;
}

#form-messages{
    opacity:0;
    border-radius: 20px;
    padding:15px;
    display: none;
    margin-bottom: 15px;
}
#form-messages.success{
    color:#FFFFFF;
    background: rgba(0, 162, 0, 0.73);
    opacity:1;
    display: inline-block;
}
#form-messages.error{
    color:#FFFFFF;
    background: rgba(166, 0, 0, 0.87);
    opacity:1;
    display: inline-block;
}
#ajax-contact, #form-messages{
    transition: opacity 300ms ease-out;
}